# SQLite database
customers.db
pre-restore-backup_*.db
temp_upload_*.db

# Local config files
email_config.json
token.pickle # Google Drive API token
backup_counter.json # Backup counter for Google Drive

# Python cache
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/
.idea/

# Virtual environment
venv/

# Pip-tools
*.py[cod]
.requirements.txt.un~

# Pytest
.pytest_cache/
