streamlit
pandas
clean-text
plotly
watchdog
sqlalchemy
openpyxl
fpdf
streamlit-modal
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
Faker
sqlmodel
alembic
psycopg2-binary
validate-docbr